<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#FF8C00">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="styles/main.css" rel="stylesheet">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>KuvaNurkka</title>
    <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body id="wholeBody" ng-controller="galleryController">

    <!-- Top Nav -->
    <div class="container" id="gallery">
        <header class="nav-down">
            <nav>
                <ul class="list-unstyled main-menu">

                    <!--Include your navigation here-->
                    <li class="nav-close" style="text-align: right;">
                        <a href="#">X</a>
                    </li>
                    <li ng-show="isLoggedIn()">
                        <a href="javascript:void(0)" class="nav-close" onclick="toggle_visibility('popup-upload');">Upload </a>
                    </li>
                    <li ng-show="isLoggedIn()">
                        <a href="#/ownpage/{{ownId}}">Own Page</a>
                    </li>
                    <li ng-hide="isLoggedIn()">
                        <a href="javascript:void(0)" class="nav-close" onclick="toggle_visibility('popup-register');">Register </a>
                    </li>
                    <div ng-controller="loginController">
                        <li ng-hide="isLoggedIn()">
                            <a href="javascript:void(0)" class="nav-close" onclick="toggle_visibility('popup-login');">Login </a>
                        </li>
                        <li ng-show="isLoggedIn()">
                            <a href="#" class="nav-close" ng-click="logout()">Logout</a>
                        </li>
                    </div>
                    <li>
                        <div>
                            <input type="text" name="search" class="form-control" placeholder="Search" ng-model="aTitle">
                            <br>
                            <button class="button"><a href="#/search/{{aTitle}}">Submit</a></button>
                        </div>
                    </li>
                </ul>
            </nav>

            <div class="navbar navbar-inverse navbar-fixed-top">
                <div>
                    <a href="#/" id="logo"><img src="images/kuvanurkka.png"></a>
                </div>
                
                <div class="navbar-header pull-right">
                    <a id="nav-expander" class="nav-expander fixed">
                        <img src="images/menu.png"><i class="fa fa-bars fa-lg white"></i>
                    </a>
                </div>
            </div>
        </header>


        <!-- Popup views -->
        <div id="popup-upload" class="popup-position">
            <div id="popup-wrapper">
                <div id="popup-container">
                    <div class="upload">
                        <div class="closeX"><a href="javascript:void(0)" onclick="toggle_visibility('popup-upload');">X </a></div>
                        <div ng-controller="uploadController">
                            <upload-form></upload-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup-register" class="popup-position">
            <div id="popup-wrapper">
                <div id="popup-container">
                    <div class="register">
                        <div class="closeX"><a href="javascript:void(0)" onclick="toggle_visibility('popup-register');">X </a></div>
                        <div ng-controller="registerController">
                            <register-form></register-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="popup-login" class="popup-position">
            <div id="popup-wrapper">
                <div id="popup-container">
                    <div class="login">
                        <div class="closeX"><a href="javascript:void(0)" onclick="toggle_visibility('popup-login');">X </a></div>
                        <div ng-controller="loginController">
                            <login-form></login-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!— Content —>

        <div ng-view></div>


        <!— Bottom Nav —>
        <div class="navbar navbar-fixed-bottom" id="alanavi">
            <div class="container" id="alanavicontainer">
                <div class="row" id="alanavirow">
                    <ul id="naviul">
                        <div class="col-xs-4" id="navidivi">
                            <li>
                                <a href="#/audio"><img src="images/cd.png"></a>
                            </li>
                        </div>
                        <div class="col-xs-4" id="navidivi">
                            <li>
                                <a href="#/images"><img src="images/images.png"></a>
                            </li>
                        </div>
                        <div class="col-xs-4" id="navidivi">
                            <li>
                                <a href="#/videos"><img src="images/oranssivideo.png"></a>
                            </li>
                        </div>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Angular files & plugins -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <script src="../bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="../bower_components/ng-dialog/js/ngDialog.js"></script>
    <script src="../bower_components/ng-dialog/css/ngDialog.css" </script>
        < script src = "../bower_components/ng-dialog/css/ngDialog-theme-default.css" >
    </script>
    <script src="../bower_components/moment/moment.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <!-- My App's JS file(s)-->
    <script src="app.js"></script>
    <script src="scripts/scrollNav.js"></script>
    <script src="scripts/dateFilter.js"></script>
    <script src="scripts/popUp.js"></script>
    <script src="scripts/navSlide.js"></script>


    <!-- Directives -->
    <script src="scripts/directives/registerForm.js"></script>
    <script src="scripts/directives/uploadForm.js"></script>
    <script src="scripts/directives/loginForm.js"></script>
    <script src="scripts/directives/fileFrom.js"></script>
    <script src="scripts/directives/showFiles.js"></script>
    <script src="scripts/directives/fileView.js"></script>
    <script src="scripts/directives/imageForm.js"></script>
    <script src="scripts/directives/commentForm.js"></script>
    <script src="scripts/directives/audioForm.js"></script>
    <script src="scripts/directives/videoForm.js"></script>
    <script src="scripts/directives/ownForm.js"></script>
    <script src="scripts/directives/searchForm.js"></script>


    <!-- Controllers -->
    <script src="scripts/controllers/galleryController.js"></script>
    <script src="scripts/controllers/registerController.js"></script>
    <script src="scripts/controllers/uploadController.js"></script>
    <script src="scripts/controllers/loginController.js"></script>
    <script src="scripts/controllers/userFilesController.js"></script>
    <script src="scripts/controllers/fileTypeController.js"></script>
    <script src="scripts/controllers/singleMediaController.js"></script>
    <script src="scripts/controllers/ownFilesController.js"></script>
    <script src="scripts/controllers/searchController.js"></script>



    <!-- Servises -->
    <script src="scripts/services/ajaxFactory.js"></script>
    <script src="scripts/services/mediaService.js"></script>


    

</body>

</html>